// 导出变量供组件使用
:export {
  colorPrimary: var(--color-primary);
  colorPrimaryDark: var(--color-primary-dark);
  colorPrimaryLight: var(--color-primary-light);
  colorPrimaryHover: var(--color-primary-hover);
}

